<%- include('../partials/header') %>
<% if (user) { %>
<section id="show-page">
    <div>Title: </div>
    <div><%= book.title %></div>
    <div>Author: </div>
    <div><%= book.author %></div>
    <div>Published Year: </div>
    <div><%= book.publishYear %></div>
    <div>Genre: </div>
    <div><%= book.genre %></div>
    <div>Hardcover: </div>
    <div><%= book.hardcover ? 'Yes' : 'No' %></div>

</section>




<!--Add comment feature-->
<br><br><br><h3>A penny for your thoughts...</h3>
<form id="add-comment-form" method="POST"
    action="/books/<%= book._id %>/comments">
    <label></label>
    <textarea name="content"></textarea>
    <label>Reading Status:</label>
    <select name="readStatus" class="status">
      <option value="Current Read">Current Read</option>
      <option value="To Be Read">To Be Read</option>
      <option value="Completed">Completed</option>
    </select>
    <input class="add-btn" type="submit" value="Add Comment">
  </form>

<!---<%= book._id %>/-->

<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Reading Status</th>
            <th>Commentary</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

<tbody>

    <% book.comments.forEach(function(c) { %>
        
        <tr>
            <td class="comment-user"><%= c.userName %></td>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td id="readstat"><%= c.readStatus %></td>
            <td><%= c.content %></td>
            <% if (user?._id.equals(c.user)) { %>
            <td><button type="submit" class="edit-btn"><a href="/books/<%= c._id %>/comments/edit ">Edit</a></button></td>
            <td>
                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                    <button type="submit">x</button>
                </form>
            <% } %>
            </td>
        </tr>
        <% }); %>

</tbody>
</table>
<% } %>
<%- include('../partials/footer') %>
